<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjblx.mapper.QuestionnaireCreateMapper" >
  <resultMap id="BaseResultMap" type="com.xjblx.po.QuestionnaireCreate" >
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="questionnair_name" property="questionnairName" jdbcType="VARCHAR" />
    <result column="questionnair_question" property="questionnairQuestion" jdbcType="VARCHAR" />
    <result column="questionnair_choice" property="questionnairChoice" jdbcType="VARCHAR" />
    <result column="questionnair_type" property="questionnairType" jdbcType="INTEGER" />
    <result column="choicenum" property="choicenum" jdbcType="INTEGER" />
    <result column="eachchoicenum" property="eachchoicenum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    username, questionnair_name, questionnair_question, questionnair_choice, questionnair_type, 
    choicenum, eachchoicenum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjblx.po.QuestionnaireCreateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from questionnaire_create
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from questionnaire_create
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from questionnaire_create
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjblx.po.QuestionnaireCreateExample" >
    delete from questionnaire_create
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjblx.po.QuestionnaireCreate" >
    insert into questionnaire_create (username, questionnair_name, questionnair_question, 
      questionnair_choice, questionnair_type, choicenum, 
      eachchoicenum)
    values (#{username,jdbcType=VARCHAR}, #{questionnairName,jdbcType=VARCHAR}, #{questionnairQuestion,jdbcType=VARCHAR}, 
      #{questionnairChoice,jdbcType=VARCHAR}, #{questionnairType,jdbcType=INTEGER}, #{choicenum,jdbcType=INTEGER}, 
      #{eachchoicenum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xjblx.po.QuestionnaireCreate" >
    insert into questionnaire_create
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="questionnairName != null" >
        questionnair_name,
      </if>
      <if test="questionnairQuestion != null" >
        questionnair_question,
      </if>
      <if test="questionnairChoice != null" >
        questionnair_choice,
      </if>
      <if test="questionnairType != null" >
        questionnair_type,
      </if>
      <if test="choicenum != null" >
        choicenum,
      </if>
      <if test="eachchoicenum != null" >
        eachchoicenum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="questionnairName != null" >
        #{questionnairName,jdbcType=VARCHAR},
      </if>
      <if test="questionnairQuestion != null" >
        #{questionnairQuestion,jdbcType=VARCHAR},
      </if>
      <if test="questionnairChoice != null" >
        #{questionnairChoice,jdbcType=VARCHAR},
      </if>
      <if test="questionnairType != null" >
        #{questionnairType,jdbcType=INTEGER},
      </if>
      <if test="choicenum != null" >
        #{choicenum,jdbcType=INTEGER},
      </if>
      <if test="eachchoicenum != null" >
        #{eachchoicenum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjblx.po.QuestionnaireCreateExample" resultType="java.lang.Integer" >
    select count(*) from questionnaire_create
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update questionnaire_create
    <set >
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.questionnairName != null" >
        questionnair_name = #{record.questionnairName,jdbcType=VARCHAR},
      </if>
      <if test="record.questionnairQuestion != null" >
        questionnair_question = #{record.questionnairQuestion,jdbcType=VARCHAR},
      </if>
      <if test="record.questionnairChoice != null" >
        questionnair_choice = #{record.questionnairChoice,jdbcType=VARCHAR},
      </if>
      <if test="record.questionnairType != null" >
        questionnair_type = #{record.questionnairType,jdbcType=INTEGER},
      </if>
      <if test="record.choicenum != null" >
        choicenum = #{record.choicenum,jdbcType=INTEGER},
      </if>
      <if test="record.eachchoicenum != null" >
        eachchoicenum = #{record.eachchoicenum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update questionnaire_create
    set username = #{record.username,jdbcType=VARCHAR},
      questionnair_name = #{record.questionnairName,jdbcType=VARCHAR},
      questionnair_question = #{record.questionnairQuestion,jdbcType=VARCHAR},
      questionnair_choice = #{record.questionnairChoice,jdbcType=VARCHAR},
      questionnair_type = #{record.questionnairType,jdbcType=INTEGER},
      choicenum = #{record.choicenum,jdbcType=INTEGER},
      eachchoicenum = #{record.eachchoicenum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjblx.po.QuestionnaireCreate" >
    update questionnaire_create
    <set >
      <if test="questionnairName != null" >
        questionnair_name = #{questionnairName,jdbcType=VARCHAR},
      </if>
      <if test="questionnairQuestion != null" >
        questionnair_question = #{questionnairQuestion,jdbcType=VARCHAR},
      </if>
      <if test="questionnairChoice != null" >
        questionnair_choice = #{questionnairChoice,jdbcType=VARCHAR},
      </if>
      <if test="questionnairType != null" >
        questionnair_type = #{questionnairType,jdbcType=INTEGER},
      </if>
      <if test="choicenum != null" >
        choicenum = #{choicenum,jdbcType=INTEGER},
      </if>
      <if test="eachchoicenum != null" >
        eachchoicenum = #{eachchoicenum,jdbcType=VARCHAR},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjblx.po.QuestionnaireCreate" >
    update questionnaire_create
    set questionnair_name = #{questionnairName,jdbcType=VARCHAR},
      questionnair_question = #{questionnairQuestion,jdbcType=VARCHAR},
      questionnair_choice = #{questionnairChoice,jdbcType=VARCHAR},
      questionnair_type = #{questionnairType,jdbcType=INTEGER},
      choicenum = #{choicenum,jdbcType=INTEGER},
      eachchoicenum = #{eachchoicenum,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>