body {
	background-color: rgb(247,247,250);
}

#form {
	padding-left: 5%;
	background-color: white;
	padding-top: 20px;
	width: 75%;
	margin: 0px auto 0px auto;
}
.que {
	list-style-type: none;
}
#sub {
	color: white;
	background-color: #93c05d;
	margin-right: 50px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: larger;
	text-align: center;
}
